//variables
@import 'variables/variables';
//variables
@import 'images/images';

body {
  background: $default-main;
}

h1 {
  color: $default-details-1;
  font-weight: 900;
}

img {
  height: auto;
  width: 100%;
}
